@charset "utf-8";

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class ^= "col-"] {
  box-sizing: border-box;
}

*{
	box-sizing: border-box;
	--bs-gutter-x: 0rem !important;
}

a {
    text-decoration: none;
}

body{
    position: relative;
	background-color: rgb(28,58,108);
	color: white;
}

.hidden{
    display: none;
}

.menu-item {
    padding: 2px;
}

.menu-pc {
    display: none;
}

#stats {
    padding: 10px;
}

#stats #sq,
#stats #ticket {
    position: relative;
}

#stats #sq img,
#stats #ticket img{
    height: 48px;
    width: auto;
}

#stats #sq .sq-number,
#stats #ticket .ticket-number{
    position: absolute;
    left: 64px;
    margin: 5px;
    top: 0px;
    background-color: rgb(30, 30, 30);
    border: 2px solid rgb(150, 150, 150);
    border-radius: 10px;
    width: auto;
    min-width: 100px;
    padding: 5px;
    text-align: right;
}

#stats #sq .sq-number h5
#stats #ticket .ticket-number h5 {
    margin: 0px;
}

#heading {
    text-align: center;
    font-family: 'EB Garamond', 'serif';
    text-shadow: -2px 0 8px rgb(196, 201, 255), 0 2px 8px rgb(196, 201, 255), 2px 0 8px rgb(196, 201, 255), 0 -2px 8px rgb(196, 201, 255);
}

#main {
    padding: 3px;
}

#main-content {
    background-color: rgba(250, 250, 250, 1);
    background-image: url("../assets/img/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

.servant img,
.servant .level{
    cursor: pointer;
}

.list {
    text-align: center;
    display: flex;
    margin: 20px;
    text-align: center;
}

.list .servant {
    position: relative;
    width: fit-content;
    left: 0.75%;
    z-index: 0;
}

.list .servant img.portrait {
    width: 150px;
    height: auto;
    z-index: 1;
}

.list .servant .level{
    text-align: right;
    position: absolute;
    width: auto;
    top: 110px;
    left: 55%;
    padding: 5px;
}

.list .servant .level .level-number{
    text-align: right;
    width: auto;
    font-weight: bold;
    font-size: 120%;
    text-shadow: -2px 0 2px black, 0 2px 2px black, 2px 0 2px black, 0 -2px 2px black;
}

.list .servant .level .level-number .small {
    font-size: 50% !important;
}

#servant-dialog.modal .modal-dialog {
    width: 100%;
    max-width: 1200px;
}

#servant-dialog .card-img {
    max-width: 96px;
}

#servant-dialog .section-name {
    font-family: 'EB Garamond', 'serif';
    font-weight: bold;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(0deg, rgba(200,200,200,1) 0%, rgba(200,200,200,1) 30%, rgba(150, 150, 150, 1) 40%, rgba(200,200,200,1) 50%, rgba(200,200,200,1) 100%);
    -webkit-background-clip: text;
}

.modal-content {
	background: linear-gradient(0deg, rgba(27,33,154,1) 0%, rgba(59,125,235,1) 35%, rgba(23,129,177,1) 65%, rgba(27,33,154,1) 100%);
}

.modal-footer {
    border: none;
}

.servant-img {
    width: 100%;
}

.servant-img,
.servant-details {
    padding: 20px;
}

.servant-details {
    font-size: 100%;
    background-color: rgb(38,41,47);
}

.servant-details-container {
    padding: 20px;
}

img.has-false {
    filter: grayscale(100%);
}

.stat-name {
    font-weight: bold;
}

.stat {
    font-weight: 400;
}

.skill-img {
    max-width: 64px;
}

.task-in_progress {
    -webkit-text-fill-color: transparent;
    background: linear-gradient(0deg, rgba(200,200,200,1) 0%, rgba(200,200,200,1) 30%, rgba(150, 150, 150, 1) 40%, rgba(200,200,200,1) 50%, rgba(200,200,200,1) 100%);
    -webkit-background-clip: text;
}

.task-completed {
    -webkit-text-fill-color: transparent;
    background: linear-gradient(0deg, rgba(200,200,200,1) 0%, rgba(200,200,200,1) 30%, rgba(150, 150, 150, 1) 40%, rgba(200,200,200,1) 50%, rgba(200,200,200,1) 100%);
    -webkit-background-clip: text;
}

#servant-dialog .btn {
    border: 1px solid rgb(150, 150, 150);
    border-radius: 0px;
    background: linear-gradient(0deg, rgba(40,50,200,1) 0%, rgba(60,150,255,1) 35%, rgba(40,50,200,1) 65%, rgba(40,50,150,1) 100%);
    text-shadow: -2px 0 8px rgb(196, 201, 255), 0 2px 8px rgb(196, 201, 255), 2px 0 8px rgb(196, 201, 255), 0 -2px 8px rgb(196, 201, 255);
    font-size: 120%;
}

#servant-dialog .btn:hover {
    background: linear-gradient(0deg, rgba(255,214,110,1) 0%, rgba(255,145,0,1) 35%, rgba(255,214,110,1) 65%, rgba(255,55,0,1) 100%);
    text-shadow: -2px 0 8px rgb(255, 191, 128), 0 2px 8px rgb(255, 191, 128), 2px 0 8px rgb(255, 191, 128), 0 -2px 8px rgb(255, 191, 128);
}

.party-name {
    color: black;
}

#servant-name {
    -webkit-text-fill-color: transparent;
    background: linear-gradient(0deg, rgba(200,200,200,1) 0%, rgba(200,200,200,1) 30%, rgba(150, 150, 150, 1) 40%, rgba(200,200,200,1) 50%, rgba(200,200,200,1) 100%);
    -webkit-background-clip: text;
    font-family: 'EB Garamond', 'serif';
    font-weight: bold;
}

.stat-name,
.stat,
.skill-name {
    text-shadow: -2px 0 2px black, 0 2px 2px black, 2px 0 2px black, 0 -2px 2px black;
    font-size: 120%;
}

.team-front .container,
.team-back .container {
    background-color: rgba(53, 87, 138, 0.5);
    width: fit-content;
    padding: 10px 10px 10px 33px;
    border-radius: 10px;
}

.team-front .party-name,
.team-back .party-name {
    margin-top: 20px;
}

#party-list .portrait {
    padding: 15px;
}

img.item {
    width: 90%;
    max-width: 96px;
}

.task-item .progress {
    background: linear-gradient(0deg, rgba(10, 10, 10, 1) 0%, rgba(50, 50, 50, 1) 1%, rgba(100, 100, 100, 1) 100%);
    border-radius: 0px;
    height: 50%;
}

.task-item .progress-bar {
    background: linear-gradient(0deg, rgba(114,235,88, 1) 0%, rgba(114,235,88, 1) 30%, rgba(50,180,42, 1) 50%, rgba(50,180,42, 1) 100%);
}

.task-item .progress-number {
    transform: translateX(10%);
}

.task-item {
    padding: 10px 50px 10px 10px;
}

.task-item-container {
    padding: 10px;
    background-color: rgba(53, 87, 138, 0.5);
    border-radius: 10px;
}

.task-name {
    font-family: 'EB Garamond', 'serif';
    font-weight: bold;
    text-align: left;
    color: black;
}

@media only screen and (min-width: 992px) {
    /* For desktop */

    .menu-pc {
        display: flex;
    }

    .menu-item h5 {
        text-align: center;
        color: black;
        padding: 15px;
        border-radius: 5px 5px 0px 0px;
        background: linear-gradient(0deg, rgba(53,87,138,1) 0%, rgba(41,70,116,1) 50%, rgba(69,113,181,1) 100%);
        margin: 0px;
    }

    .menu-item.selected h5 {
        background: linear-gradient(0deg, rgba(250,250,250,1) 0%, rgba(150, 150, 150, 1) 50%, rgba(200,200,200,1) 100%);
        margin: 0px;
    }

    .menu-item:hover h5 {
        background: linear-gradient(0deg, rgba(255,214,110,1) 0%, rgba(255,145,0,1) 35%, rgba(255,55,0,1) 100%);
        margin: 0px;
    }

    #heading h1 {
        font-size: 500%;
    }

}